<table class="attr">
  <tr>
    <th width="150">勤務時間帯境界モード名称</th>
    <td><%= @splittime.timesplitmode %></td>
  </tr>
  <tr>
    <th>深夜２業務境界時刻</th>
    <td><%= @splittime.splittime1 %></td>
  </tr>
  <tr>
    <th>早朝業務境界時刻</th>
    <td><%= @splittime.splittime2 %></td>
  </tr>
  <tr>
    <th>午前業務境界時</th>
    <td><%= @splittime.splittime3 %></td>
  </tr>
  <tr>
    <th>午後業務境界時刻</th>
    <td><%= @splittime.splittime4 %></td>
  </tr>
  <tr>
    <th>残業業務境界時刻</th>
    <td><%= @splittime.splittime5 %></td>
  </tr>
  <tr>
    <th>深夜１業務境界時刻</th>
    <td><%= @splittime.splittime6 %></td>
  </tr>
</table>
