<%= render "shared/errors", obj: @splittime %>

<table class="attr">
  <tr>
    <th><%= form.label :timesplitmode %></th>
    <td><%= form.text_field :timesplitmode %></td>
  </tr>
  <tr>
    <th><%= form.label :splittime1 %></th>
    <td><%= form.text_field :splittime1 %></td>
  </tr>
  <tr>
    <th><%= form.label :splittime2 %></th>
    <td><%= form.text_field :splittime2 %></td>
  </tr>
  <tr>
    <th><%= form.label :splittime3 %></th>
    <td><%= form.text_field :splittime3 %></td>
  </tr>
  <tr>
    <th><%= form.label :splittime4 %></th>
    <td><%= form.text_field :splittime4 %></td>
  </tr>
  <tr>
    <th><%= form.label :splittime5 %></th>
    <td><%= form.text_field :splittime5 %></td>
  </tr>
  <tr>
    <th><%= form.label :splittime6 %></th>
    <td><%= form.text_field :splittime6 %></td>
  </tr>
</table>
