<% @page_title = "部下勤務情報管理画面（対象勤務者選択画面）" %>
<h1><%= @page_title %></h1>

<h2><%= @empleader.name %>さんの部下勤務情報管理</h2>

<% #debugger %>

<%= link_to "リーダの勤務報告一覧表示に戻る", :workreports %><br><br>


<%= link_to "部下勤務情報新規一括登録へ", :set_bulksubordinp1_workreports %>


<%= form_tag({ :controller => 'workreports',  :action => 'subord_workreport' }, { :method => 'get' }) do  %>

   <p> ------------------------------------------------------------------------------------------------ </p>
   <p>勤務報告の集計範囲（月日）および項目の選択：&nbsp;&nbsp; </p>

   <p>　　表示開始日：&nbsp;&nbsp;
   <!-- %= select_date Date.today, :start_date => Date.new(2014, 1, 1),
                 :end_date => Date.new(2014, 1, 1) + 360,
                 :field_name => :sel_fromdate,:prefix => :date_D %> &nbsp;&nbsp; から</p -->

   <%= select_date Date.today, :start_date => Date.new(2014, 1, 1),
                 :end_date => Date.new(2014, 1, 1) + 360,
                 :prefix => :date_S %> &nbsp;&nbsp; から</p>

   <p>　　表示終了日：&nbsp;&nbsp;

   <%= select_date Date.today, :start_date => Date.new(2014, 1, 1),
                 :end_date => Date.new(2014, 1, 1) + 360,
                 :prefix => :date_E 
%>&nbsp;&nbsp; までの範囲の &nbsp;&nbsp;</p>


   <p>　対象勤務者：
   <%= select_tag :employee, options_from_collection_for_select( @employees, :id, :name) %>
　について表示します。　</p>


   <p><%= submit_tag '勤務者勤務情報の表示', :comfirm => '処理を実行して良いですか？',
         :disable_with => '処理中・・・' %>
   </p>

<% end %>



<%
=begin
%>


<table>
<tr>
  <th>勤務日</th><th>プロジェクト名称</th><th>勤務場所</th>
  <th>作業内容</th>  <th> 勤務開始</th>   <th>終了時刻</th>
  <th>勤務時間</th>
　<th>備考</th>
  <th colspan=3 align="center" nowrap >____________ 操　　作 ____________  </th>
</tr>
<% @workreports.each do |workreport| %>
<tr>

<% #debugger %>

  <td><%= workreport.workdate %></td>
  <td><%= workreport.project.prjname %></td>
  <td><%= workreport.jobplace.jobplacename %></td>
  <td><%= workreport.jobitem.jobname %>  </td>


  <td><%= workreport.timefrom.strftime('%H:%M') %>   ～  </td>
  <td><%= workreport.timeto.strftime('%H:%M') %></td>


<% if false %>
  <td><%= Time.at(workreport.timefrom).strftime('%H:%M') %>   ～  </td>
  <td><%= workreport.timeto %></td>
<% end %>

<% #debugger %>

  <!-- td><%= (workreport.timeto - workreport.timefrom).divmod(60*60) %></td -->
  <td><%= number_with_precision((workreport.timeto - workreport.timefrom)/ 3600.0, :precision => 2) %></td>
  <td><%= workreport.addcomment.comment %>　</td>



<% if false %>
  <td><%= link_to "勤務報告編集", :edit_workreport %></td>
<% end %>

  <td><%= link_to "勤務報告詳細表示", workreport %>　</td>
  <td><%= link_to "勤務報告編集", [:edit, workreport] %>　</td>
  <td><%= link_to "削除", workreport, method: :delete,
            confirm: "本当に削除しますか?"  %></td>
</tr>
<% end %>
</table>


<%
=end
%>
