<% @page_title = "業務項目情報の編集" %>

<h1><%= @page_title %></h1>

<p><%= link_to "業務項目の詳細に戻る", [:admin, @jobitem] %></p>

<%= form_for [:admin, @jobitem], html: { multipart: true } do |form| %>
<%= render "form", form: form %>
<p><%= form.submit %></p>
<% end %>
