<% @page_title = "管理ページトップ" %>
<h1><%= @page_title %></h1>

<!-- h2>管理者ページトップ</h2 -->
<p> マスターテーブル管理 </p>

<% #debugger %>

<u1>
<!-- li><%= link_to "勤務報告管理", :admin_workreports %></li -->

<li><%= link_to "勤務時間帯モード管理", :admin_splittimes %></li>
<li><%= link_to "勤務先管理", :admin_clients %></li>
<li><%= link_to "プロジェクト管理", :admin_projects %></li>
<li><%= link_to "作業グループ管理", :admin_jobgroups %></li>
<li><%= link_to "作業内容管理", :admin_jobitems %></li>
<li><%= link_to "勤務場所管理", :admin_jobplaces %></li>
<li><%= link_to "状況管理", :admin_states %></li>
<li><%= link_to "備考管理", :admin_addcomments %></li>
<li><%= link_to "所属部門管理", :admin_departments %></li>
<li><%= link_to "勤務者管理", :admin_employees %></li>
<li><%= link_to "職能業種管理", :admin_grades %></li>
<br />
</u1>